@model IEnumerable<MyAirbnb.Models.Imagens>

@{
    ViewData["Title"] = "Images";
}

<h1>@ViewBag.Title</h1>

<table class="table" style="margin-bottom:100px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.FilePath)
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@foreach(var img in Model)
{
    <a asp-action="Details" asp-route-id="@img.Id">
    <img src=@img.FilePath class="img-thumbnail float-left" style="max-height:200px">
    </a>
}





@*Different upload button types:*@
@*<form method="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file" accept="image/png,image/jpeg" class="btn btn-outline-secondary" name="files" id="inputFile" multiple />
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary" asp-controller="Imagens" asp-action="Upload">Upload</button>
        </div>
    </div>
</form>
<form method="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file" accept="image/png,image/jpeg" class="btn btn-outline-secondary" name="files" id="inputFile" multiple />
        </div>
        <div>
            <button type="submit" class="input-group-append btn btn-primary" asp-controller="Imagens" asp-action="Upload">Upload</button>
        </div>
    </div>
</form>
<form method="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <input type="file" accept="image/png,image/jpeg" class="btn-outline-secondary custom-file" style="cursor:pointer" name="files" id="inputFile" multiple />
        <div class="input-group-append">
            <button type="submit" class="input-group-text btn-outline-primary" asp-controller="Imagens" asp-action="Upload">Upload</button>
        </div>
    </div>
</form>
<form method="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <input type="file" accept="image/png,image/jpeg" class="btn-outline-secondary" style="cursor:pointer" name="files" id="inputFile" multiple />
        <div class="input-group-append">
            <button type="submit" class="input-group-text btn-outline-primary" asp-controller="Imagens" asp-action="Upload">Upload</button>
        </div>
    </div>
</form>*@