@model DetailsClienteViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Clientes</h4>
    <div>
        <a class="btn btn-sm btn-secondary" asp-action="Index">Back to List</a>
    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente.NIF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente.NIF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente.CC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente.CC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente.DataDeNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente.DataDeNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente.Morada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente.Morada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente.NumeroTelemovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente.NumeroTelemovel)
        </dd>
    </dl>
</div>
<div>
    <h5>Reviews</h5>

    <table class="table table-hover">
    <thead>
        <tr>
            <th>Property Name</th>
            <th>Stars</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in @Model.classificacoes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imovel.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estrelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
        </tr>
}
    </tbody>
</table>
</div>
