@model MyAirbnb.Models.DoneChecklist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    @if (User.IsInRole("Gestor") || User.IsInRole("Funcionario"))
    {
        <form method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input type="file" accept="image/png,image/jpeg" class="btn btn-outline-secondary" style="margin-right:30px" name="files" multiple />
                <button type="submit" class="input-group-append btn btn-primary" asp-controller="Imagens" asp-action="Upload" asp-route-id="@Model.Id" asp-route-isImovel="false">Upload</button>
            </div>
        </form>
    }
</div>

<div>
    <h4>DoneChecklist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checklist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checklist.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="Reserva" asp-action="Details" asp-route-id="@Model.Reserva.Id"> 
                @Html.DisplayFor(model => model.Reserva.Id)
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsavel.Nome)
        </dd>
    </dl>
</div>
