@model MyAirbnb.Models.Imovel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Imovel</h4>
        @if (User.IsInRole("Admins") || User.IsInRole("Gestor"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit | </a>
        }
        <a asp-action="Index">Back to List</a>
        <a class="btn btn-primary" style="float:right" asp-controller="Reserva" asp-action="Create" asp-route-id="@Model.Id" >Reservar</a>
</div>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EspacoM2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EspacoM2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoPorNoite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoPorNoite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCamas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCamas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemCozinha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemCozinha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemJacuzzi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemJacuzzi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemPiscina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemPiscina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroWC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroWC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPessoas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPessoas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraCheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraCheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraCheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraCheckOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoImovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoImovel.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dono.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsavel.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Listado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Listado)
        </dd>
    </dl>
</div>

<hr/>

<div>
    <h5>Reviews</h5>

    <table class="table table-hover">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Stars</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in @Model.Classificacao) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estrelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
        </tr>
}
    </tbody>
</table>
</div>