@model IEnumerable<MyAirbnb.Models.Imovel>

@{
    ViewData["Title"] = "Properties";
}

<h1>@ViewData["Title"]</h1>

@if (User.IsInRole("Gestor") || User.IsInRole("Admins"))
{
    <p>
        <a class="btn btn-primary btn-sm" asp-action="Create">Create New</a>
    </p>
}

@*<fieldset>
    <legend>Filters</legend>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <label class="form-group">
              @Html.DisplayNameFor(model => model.EspacoM2)
              <input class="form-control">
            </label>
            <label class="form-group">
              @Html.DisplayNameFor(model => model.PrecoPorNoite)
              <input class="form-control">
            </label>
        </div>
        <div class="col-md-4">
            <label class="form-group">
              <input class="form-check-input" type="checkbox" value="">
              @Html.DisplayNameFor(model => model.TemJacuzzi)
            </label>
            <label class="form-group">
              <input class="form-check-input" type="checkbox" value="">
              @Html.DisplayNameFor(model => model.TemCozinha)
            </label>
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</fieldset>*@

@*<form method="post">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <label class="form-group">
              @Html.DisplayNameFor(model => model.EspacoM2)
              <input class="form-control">
            </label>
            <label class="form-group">
              @Html.DisplayNameFor(model => model.PrecoPorNoite)
              <input class="form-control">
            </label>
        </div>
        <div class="col-md-4">
            <label class="form-group">
              <input class="form-check-input" type="checkbox" value="">
              @Html.DisplayNameFor(model => model.TemJacuzzi)
            </label>
            <label class="form-group">
              <input class="form-check-input" type="checkbox" value="">
              @Html.DisplayNameFor(model => model.TemCozinha)
            </label>
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>*@

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoPorNoite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCamas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPessoas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoImovel)
            </th>
            @if( !User.IsInRole("Cliente") ){
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Nome)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoPorNoite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCamas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPessoas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoImovel.Nome)
            </td>
            @if( !User.IsInRole("Cliente") ){
                <td>
                    <a class="btn alert-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
